:root {
  --body-bg: #f3f2ef;
  --white-bg: #fff;
  --link-blue: #2b56cae6;
  --text-black: #191919;
  --light-gray: #a7a7a7;
  --dark-gray: #646464;
  --highlight-gray: #e9e5df;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: var(--body-bg) !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---navbar Start */
.navbar-full {
  width: 100%;
  background-color: var(--white-bg);
}
.bi-linkedin {
  color: var(--link-blue);
  font-size: 33px;
}

#basic-navbar-nav i {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-size: 25px;
  cursor: pointer;
}

.b-left {
  border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.navbar {
  font-size: 13px;
}

.nav-link {
  padding-top: 0 !important;
}

.navbar-nav {
  margin-left: auto;
}
.getHired {
  color: rgb(167, 53, 7);
  text-align: center;
}
/* --navbar end--- */

.card-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  background-color: var(--white-bg) !important;
  border: 1px solid hsla(0, 0%, 63%, 0.35);
}

.generic-btn {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-radius: 20px !important;
  margin-right: 8px;
}

.link {
  color: var(--link-blue);
  font-size: 14px;
  font-weight: bold;
}

.experience-image {
  width: 10%;
  height: 40%;
  margin-right: 10px;
}

.generic-btn-activities {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-radius: 20px !important;
  margin-right: 8px;
  max-height: 35px;
}

.interest-titles {
  font-size: 12px;
}
