:root {
  --body-bg: #f3f2ef;
  --white-bg: #fff;
  --link-blue: #5b98db;
  --text-black: #191919;
  --light-gray: #a7a7a7;
  --dark-gray: #646464;
  --highlight-gray: #e9e5df;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---navbar Start */
.bi-linkedin {
  color: rgba(22, 45, 245, 0.918);
  /* width: 80px !important; */
}
/* --navbar end--- */
.card-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  background-color: var(--white-bg);
  border: 1px solid gray;
}
