.flexbox {
  display: flex;
}
.profile-main {
  overflow: hidden;
  position: relative;
}
.profile-cover {
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}
.profile-img-ed {
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.profile-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  border: 3px solid white;
  top: 105px;
  left: 25px;
}

.work-card {
  background-color: antiquewhite !important;
}
.pen-lg {
  position: absolute;
  font-size: 20px;
  top: 210px;
  right: 20px;
}
.icon-tr {
  position: absolute;
  right: 10px;
}
.open-card {
  font-size: 14px;
}
.smaller-font {
  font-size: 14px;
  font-weight: bold;
}
.text-gray {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
.side-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}
.description-text {
  font-size: 15px;
}

.side-btn {
  border: 2px solid gray;
  font-weight: bold;
  width: 90px;
}

.credential-btn {
  border: 2px solid gray;
  font-weight: bold;
}